.header {
  max-width: 880px;
  border-bottom: 1px solid #545454;
  width: 880px;
  padding-bottom: 40px;
}

.header__logo {
  width: 173px;
  padding-top: 45px;
  padding-bottom: 41x;
}

@media screen and (max-width: 320px) {
  .header {
    width: 300px;
    margin-bottom: 40px;
  }

  .header__logo {
    max-width: 126px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    max-width: 126px;
    margin-left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
  }

  .header__logo {
    margin-left: 15px;
  }
}
